<div class="container">
  <h2>Giriş</h2>
  <form action="/users/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email Adresi</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Şifre</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
  </form>
</div>
